force-app/main/default/flows/FSUpdateCloseOutNotes_Comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isChangedDecision2_myRule_1_FS_New_Closeout_Notes_c</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isChangedDecision2_myRule_1_FS_New_Closeout_Notes_c</name>
        <label>isChangedDecision2_myRule_1_FS_New_Closeout_Notes_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_2_myRule_1_FS_New_Closeout_Notes_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.FS_New_Closeout_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.FS_New_Closeout_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_2_myRule_1_FS_New_Closeout_Notes_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_2_myRule_1_FS_New_Closeout_Notes_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.FS_New_Closeout_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Close Out Notes/Comments is NOT NULL AND ISCHANGED</label>
        </rules>
    </decisions>
    <description>Closeout Notes/Comments fields are updated to aggregate  all the comments from Add new Closeout Notes/Comments</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(NOT(ISBLANK(PRIORVALUE([FS_Service_Order__c].FS_Closeout_Notes__c) ) ) , &#39;[&#39; &amp; [FS_Service_Order__c].FS_Local_Time__c &amp; &#39;, &#39; 
 &amp; $User.FirstName  &amp; &quot; &quot; &amp; $User.LastName &amp;  &#39;]&#39; &amp; SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; ) &amp;[FS_Service_Order__c].FS_New_Closeout_Notes__c &amp;  SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; )  &amp;  SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; )  &amp; PRIORVALUE([FS_Service_Order__c].FS_Closeout_Notes__c)  &amp; SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; ) , 
 &#39;[&#39; &amp; [FS_Service_Order__c].FS_Local_Time__c  &amp; &#39;, &#39; &amp; $User.FirstName  &amp; &quot; &quot; &amp; $User.LastName &amp;  &#39;]&#39; &amp; SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; ) &amp;[FS_Service_Order__c].FS_New_Closeout_Notes__c &amp; SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_FS_Closeout_Notes_c</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(PRIORVALUE({!myVariable_current.FS_Closeout_Notes__c}) ) ) , &#39;[&#39; &amp; {!myVariable_current.FS_Local_Time__c} &amp; &#39;, &#39; 
 &amp; $User.FirstName  &amp; &quot; &quot; &amp; $User.LastName &amp;  &#39;]&#39; &amp; SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; ) &amp;{!myVariable_current.FS_New_Closeout_Notes__c} &amp;  SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; )  &amp;  SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; )  &amp; PRIORVALUE({!myVariable_current.FS_Closeout_Notes__c})  &amp; SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; ) , 
 &#39;[&#39; &amp; {!myVariable_current.FS_Local_Time__c}  &amp; &#39;, &#39; &amp; $User.FirstName  &amp; &quot; &quot; &amp; $User.LastName &amp;  &#39;]&#39; &amp; SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; ) &amp;{!myVariable_current.FS_New_Closeout_Notes__c} &amp; SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot; ))</expression>
    </formulas>
    <interviewLabel>FSUpdateCloseOutNotes_Comments-1_InterviewLabel</interviewLabel>
    <label>FSUpdateCloseOutNotes/Comments</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>FS_Service_Order__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[FS_Service_Order__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Close out Comments</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Closeout Notes/Comments</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>FS_Closeout_Notes__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_FS_Closeout_Notes_c</elementReference>
            </value>
        </inputAssignments>
        <object>FS_Service_Order__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FS_Service_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FS_Service_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
