force-app/main/default/flows/Inherit_Invoice_fields_from_HQ_to_OL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>HQ Modified</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Chain__c.FS_Payment_Type__c	))),TEXT([Account].FS_Chain__c.FS_Payment_Type__c),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A2_8752929854</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Chain__r.FS_Payment_Type__c}	))),TEXT({!myVariable_current.FS_Chain__r.FS_Payment_Type__c}),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Chain__c.Invoice_Customer__c))),TEXT([Account].FS_Chain__c.Invoice_Customer__c),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A2_4426230290</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Chain__r.Invoice_Customer__c}))),TEXT({!myVariable_current.FS_Chain__r.Invoice_Customer__c}),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Headquarters__c.Cokesmart_Payment_Method__c))),TEXT([Account].FS_Headquarters__c.Cokesmart_Payment_Method__c),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_9_A1_4921479973</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Headquarters__r.Cokesmart_Payment_Method__c}))),TEXT({!myVariable_current.FS_Headquarters__r.Cokesmart_Payment_Method__c}),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Headquarters__c.FS_Payment_Method__c))),TEXT([Account].FS_Headquarters__c.FS_Payment_Method__c),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_9_A1_4508266616</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Headquarters__r.FS_Payment_Method__c}))),TEXT({!myVariable_current.FS_Headquarters__r.FS_Payment_Method__c}),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Headquarters__c.FS_Payment_Type__c	))),TEXT([Account].FS_Headquarters__c.FS_Payment_Type__c	),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_9_A1_5798074145</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Headquarters__r.FS_Payment_Type__c}	))),TEXT({!myVariable_current.FS_Headquarters__r.FS_Payment_Type__c}	),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Headquarters__c.Invoice_Customer__c))),TEXT([Account].FS_Headquarters__c.Invoice_Customer__c),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_9_A1_6813456258</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Headquarters__r.Invoice_Customer__c}))),TEXT({!myVariable_current.FS_Headquarters__r.Invoice_Customer__c}),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Chain__c.FS_Payment_Type__c))),TEXT([Account].FS_Chain__c.FS_Payment_Type__c),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_0747813281</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Chain__r.FS_Payment_Type__c}))),TEXT({!myVariable_current.FS_Chain__r.FS_Payment_Type__c}),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Chain__c.Invoice_Customer__c))),TEXT([Account].FS_Chain__c.Invoice_Customer__c),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A2_7496700335</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Chain__r.Invoice_Customer__c}))),TEXT({!myVariable_current.FS_Chain__r.Invoice_Customer__c}),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Headquarters__c.Cokesmart_Payment_Method__c))),TEXT([Account].FS_Headquarters__c.Cokesmart_Payment_Method__c),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_2343014104</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Headquarters__r.Cokesmart_Payment_Method__c}))),TEXT({!myVariable_current.FS_Headquarters__r.Cokesmart_Payment_Method__c}),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Headquarters__c.FS_Payment_Method__c))),TEXT([Account].FS_Headquarters__c.FS_Payment_Method__c),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_0369465484</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Headquarters__r.FS_Payment_Method__c}))),TEXT({!myVariable_current.FS_Headquarters__r.FS_Payment_Method__c}),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Headquarters__c.FS_Payment_Type__c))),TEXT([Account].FS_Headquarters__c.FS_Payment_Type__c),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_5017312458</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Headquarters__r.FS_Payment_Type__c}))),TEXT({!myVariable_current.FS_Headquarters__r.FS_Payment_Type__c}),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Account].RecordType.Name=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT([Account].FS_Headquarters__c.Invoice_Customer__c))),TEXT([Account].FS_Headquarters__c.Invoice_Customer__c),&#39;&#39;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_0398972796</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.RecordType.Name}=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.FS_Headquarters__r.Invoice_Customer__c}))),TEXT({!myVariable_current.FS_Headquarters__r.Invoice_Customer__c}),&#39;&#39;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp; 
(([Account].RecordType.Name=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK([Account].FS_Headquarters__c))) || ([Account].RecordType.Name=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK([Account].FS_Chain__c	)))) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; 
(({!myVariable_current.RecordType.Name}=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK({!myVariable_current.FS_Headquarters__c}))) || ({!myVariable_current.RecordType.Name}=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK({!myVariable_current.FS_Chain__c}	))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISNEW()) &amp;&amp;
(([Account].RecordType.Name=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK([Account].FS_Headquarters__c)) &amp;&amp; ISCHANGED([Account].FS_Headquarters__c)) || ([Account].RecordType.Name=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK([Account].FS_Chain__c)) &amp;&amp; ISCHANGED([Account].FS_Chain__c))) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp;
(({!myVariable_current.RecordType.Name}=&#39;FS Outlet&#39; &amp;&amp; NOT(ISBLANK({!myVariable_current.FS_Headquarters__c})) &amp;&amp; ISCHANGED({!myVariable_current.FS_Headquarters__c})) || ({!myVariable_current.RecordType.Name}=&#39;FS Headquarters&#39; &amp;&amp; NOT(ISBLANK({!myVariable_current.FS_Chain__c})) &amp;&amp; ISCHANGED({!myVariable_current.FS_Chain__c})))</expression>
    </formulas>
    <interviewLabel>Inherit_Invoice_fields_from_HQ_to_OL-13_InterviewLabel</interviewLabel>
    <label>Inherit Invoice fields from HQ to OL</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update for OL</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Record Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01261000000SELH</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Cartridge Fee Payment Method</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Cokesmart_Payment_Method__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_2343014104</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Program Fee Payment Method</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>FS_Payment_Method__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_0369465484</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Approved for Program Fee Invoicing?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>FS_Payment_Type__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_5017312458</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Approved for Cartridge Pymt Invoicing?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Invoice_Customer__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_0398972796</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update for HQ&#39;s</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Record Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01261000000SELG</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Approved for Program Fee Invoicing?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>FS_Payment_Type__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_0747813281</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Approved for Cartridge Pymt Invoicing?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Invoice_Customer__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A2_7496700335</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Update for OL</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_9_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Record Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01261000000SELH</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Cartridge Fee Payment Method</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Cokesmart_Payment_Method__c</field>
            <value>
                <elementReference>formula_12_myRule_9_A1_4921479973</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Program Fee Payment Method</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>FS_Payment_Method__c</field>
            <value>
                <elementReference>formula_13_myRule_9_A1_4508266616</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Approved for Program Fee Invoicing?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>FS_Payment_Type__c</field>
            <value>
                <elementReference>formula_14_myRule_9_A1_5798074145</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Approved for Cartridge Pymt Invoicing?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Invoice_Customer__c</field>
            <value>
                <elementReference>formula_15_myRule_9_A1_6813456258</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A2</name>
        <label>Update for HQ</label>
        <locationX>900</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Customer Record Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01261000000SELG</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Approved for Program Fee Invoicing?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>FS_Payment_Type__c</field>
            <value>
                <elementReference>formula_10_myRule_9_A2_8752929854</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Approved for Cartridge Pymt Invoicing?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Invoice_Customer__c</field>
            <value>
                <elementReference>formula_11_myRule_9_A2_4426230290</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
