force-app/main/default/flows/Update_Outlet_Dispenser_from_Flavor_Change_Line_modification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Outlet_Dispenser_Platform_7000</name>
        <label>Outlet Dispenser Platform 7000</label>
        <locationX>616</locationX>
        <locationY>110</locationY>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_Brandset_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_New_Brandset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_Brandset_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_BS_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_7000_Series_Hide_Water_Button_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_Hide_Show_Water_Button__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_7000_Series_Hide_Water_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_WA_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_Dasani_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_Hide_Show_Dasani__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_Dasani_Settings_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_DA_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Outlet_Dispenser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Outlet_Dispenser_Platform_8000_or_9000</name>
        <label>Outlet Dispenser Platform 8000 or 9000</label>
        <locationX>611</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_Brandset_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_New_Brandset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_Brandset_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_BS_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_Water_Button_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_Hide_Show_Water_Button__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_Water_Hide_Show_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_WA_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_Dasani_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_Hide_Show_Dasani__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectOutletDispenser.FS_Dasani_Settings_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_DA_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Outlet_Dispenser</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Platform_Criteria</name>
        <label>Platform Criteria</label>
        <locationX>406</locationX>
        <locationY>229</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Platform_is_7000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectFlavorChangeLine.FS_Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outlet_Dispenser_Platform_7000</targetReference>
            </connector>
            <label>Platform is 7000</label>
        </rules>
        <rules>
            <name>Platform_is_8000_or_9000</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sObjectFlavorChangeLine.FS_Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sObjectFlavorChangeLine.FS_Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outlet_Dispenser_Platform_8000_or_9000</targetReference>
            </connector>
            <label>Platform is 8000 or 9000</label>
        </rules>
    </decisions>
    <description>Update Outlet Dispenser from Flavor Change Line modification if approved and change in effective dates</description>
    <interviewLabel>Update Outlet Dispenser from Flavor Change Line modification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Outlet Dispenser from Flavor Change Line modification</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Flavor_Change_Line_Record</name>
        <label>Find Flavor Change Line Record</label>
        <locationX>154</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Outlet_Dispenser_record</targetReference>
        </connector>
        <filters>
            <field>FS_BS_Effective_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_BS_Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_DA_Effective_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_DA_Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_Hide_Show_Dasani__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_Hide_Show_Dasani__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_Hide_Show_Water_Button__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_Hide_Show_Water_Button__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_New_Brandset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_New_Brandset__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_Outlet_Dispenser__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_Outlet_Dispenser__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_Platform__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_Platform__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FS_WA_Effective_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_WA_Effective_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.Id</elementReference>
            </value>
        </filters>
        <object>FS_Flavor_Change_New__c</object>
        <outputReference>sObjectFlavorChangeLine</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FS_BS_Effective_Date__c</queriedFields>
        <queriedFields>FS_DA_Effective_Date__c</queriedFields>
        <queriedFields>FS_WA_Effective_Date__c</queriedFields>
        <queriedFields>FS_Outlet_Dispenser__c</queriedFields>
        <queriedFields>FS_Platform__c</queriedFields>
        <queriedFields>FS_Hide_Show_Dasani__c</queriedFields>
        <queriedFields>FS_Hide_Show_Water_Button__c</queriedFields>
        <queriedFields>FS_New_Brandset__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Outlet_Dispenser_record</name>
        <label>Find Outlet Dispenser record</label>
        <locationX>300</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Platform_Criteria</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectFlavorChangeLine.FS_Outlet_Dispenser__c</elementReference>
            </value>
        </filters>
        <object>FS_Outlet_Dispenser__c</object>
        <outputReference>sObjectOutletDispenser</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Outlet_Dispenser</name>
        <label>Update Outlet Dispenser</label>
        <locationX>876</locationX>
        <locationY>219</locationY>
        <inputReference>sObjectOutletDispenser</inputReference>
    </recordUpdates>
    <startElementReference>Find_Flavor_Change_Line_Record</startElementReference>
    <status>Active</status>
    <variables>
        <description>sObject reference for FlavorChangeLine</description>
        <name>sObjectFlavorChangeLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FS_Flavor_Change_New__c</objectType>
    </variables>
    <variables>
        <description>sObject Reference for OutletDispenser</description>
        <name>sObjectOutletDispenser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FS_Outlet_Dispenser__c</objectType>
    </variables>
</Flow>
